
{{#paper-data-table-column 
	sortChanged=onSortChanged
    sortProp=sortProp
    currentProperties=currentProperties
    filterProp=filterProp}}
    {{yield}}
{{/paper-data-table-column }}
<div class="filter-container">
{{paper-filter-table-dialog class="filter-icon"}}
{{paper-input placeholder="search" value=name onChange=(action 'changeSearch') icon=""}}
</div>