<table class="md-table md-row-select" style={{if fixed "table-layout: fixed;"}}>
	{{yield (hash
		sortProperties=(readonly sortProperties)
		sortDesc=(readonly sortDesc)
		searchProperties=(readonly searchProperties)
		searchDesc=(readonly searchDesc)
		head=(component headComponent
			selectable=selectable
			searchProperties=(readonly searchProperties)
			sortProperties=(readonly sortProperties)
			onSortChanged=(action 'sortChanged')
			onSearchChanged=(action 'searchChanged')
		)
		body=(component bodyComponent
			bodyRowComponent=bodyRowComponent
			selectable=selectable
			setRowWidth=(action (mut rowWidth))
		)
	)}}
</table>
